@import "variables";
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    .container{
        padding:0;
        div{
            min-width: 200px;
            text-align: start;
            color: #fff;
            margin: 30px 0;
            font-size: 1.1rem;
        }
    }

    h3{
        font-size: 1.15rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    a{
        color: $colorWhite;
        text-decoration: none;
        font-size: 1.1rem;
        &:hover{
            color:$colorAzul;
        }
    }
    ul{
        li{
            font-size:1rem;
        }
    }

    .copyright{
        display: block;
        background: #fff;
        color: #000;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
    }
    @media screen and (min-width: 768px){
        h3{
            font-size: 1rem;
        }
        ul{
            li{
                font-size:.85rem;
            }
        }
        a{
            font-size:.85rem;
        }
        .copyright{
            font-size: 16px;
        }        
    }

@media screen and (min-width: 1200px){
    &{
        .container {
            flex-direction: row;
            justify-content: space-around;

            div{
                font-size: .8rem;
                text-align: start;
            }
        }
        .copyright{
            font-size: 1rem;
        }
    }   
}
}