@import "variables";
@import "operadores";
main{
    #productosTop{
        .container{
            .titulo{
                color:$colorAzul;
                margin:0 0 25px 0;
            }
            .producto{
                .producto__titulo{
                    margin-bottom:0;
                }
                .producto__boton{
                    bottom:-75px;
                }
            }
        }
    }
    .container{
        .titulo{
            color:#fff;
            padding:25px 0;
        }
        #filtros{
            position: absolute;
            z-index: 1;
            background: #fff;
            width: 410px;
            h3{
                color: $colorAzul;
                margin: 10px 0;
                font-size: 1.5rem;
                font-weight: 900;
            }
            .btn{
                min-width: 90px;
                max-width: 90px;
            }
            .color-filter{
                .ref-color{
                    width: 10px;
                    height: 10px;
                    background-color: #FF0000;
                    display: inline-block;
                    margin-right: 5px;
                    border-radius: 50%;           
                }
                .celeste{background:lightblue}
                .verde{background:green}
                .azul{background:blue}
                .rosa{background:pink}
                .amarillo{background:yellow}
                .naranja{background:orange}
            }
        }
        .container__productos{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 20px;
            width:100%;
            .producto{
                @include maxSizes(250px,250px);
                height:100%;
                width:100%;
                justify-self: center;
                transition: transform .8s ease;
                text-align:center;
                margin: 0 0 150px 0;
                position: relative;
                &:hover {
                    .producto__boton{
                        opacity: 1;
                        visibility: visible;
                        a{
                            color:#fff;
                        }
                    }
                    span{
                        color:$colorGray;
                        bottom:0;
                        opacity: 1;
                        visibility:visible;
                        cursor:pointer;
                    }
                }
                
                span{
                    background: rgba(255,255,255,.6);
                    color: $colorGray;
                    font-size: .8rem;
                    position: absolute;
                    left:0;
                    bottom: -100px;
                    padding:15px ;
                    width: 100%;
                    transition:all .4s;
                    visibility:hidden;
                }
               
            }
            @media screen and (min-width: 768px){
                &{
                    grid-template-columns: repeat(2,1fr);
                }
            }
        }
    }
    @media screen and (min-width: 768px){
        &{
            padding-top: 50px;
            .container{
                #filtros{
                    display: flex;
                    position: relative;
                    max-width: 500px;
                }
            }
        }
        
    }
    @media screen and (min-width: 1200px){    
        &{
            .container{
                .container__productos{
                    grid-template-columns: repeat(4,1fr);
                }
            }
            #listaProductos{
                .container{
                    
                    .container__productos{
                        grid-template-columns: repeat(3,1fr);
                    }
                }
            }
           
        }
    }
}
